@using System.Net;
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
@model CognitiveSearch.UI.Models.SearchResultViewModel

@{
    ViewData["Title"] = "Search Results";
    ViewData["Path"] = "Home / Search Results";
}


<!-- Pass controller data to view -->
<script>
    aspViewModel = @Html.Raw(Json.Serialize(Model));
    q = @Html.Raw(Json.Serialize(Model.query));
    searchId = @Html.Raw(Json.Serialize((Model.searchId)));
    applicationInstrumentationKey = @Html.Raw(Json.Serialize(Model.applicationInstrumentationKey));
    searchServiceName = @Html.Raw(Json.Serialize(Model.searchServiceName));
    indexName = @Html.Raw(Json.Serialize(Model.indexName));
    semanticEnabled = @Html.Raw(Json.Serialize(Model.semanticEnabled));
</script>
<!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /-->

<!--Details Modal-->
<div class="modal" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:inherit">
            <div id="details-modal-body" class="modal-body">
                <div class="row" style="height: 100%;">
                    <div class="modal-control-group">
                        <span id="close-control" class="modal-control" data-bs-dismiss="modal"><i class="ms-Icon ms-Icon--Clear"></i></span>
                    </div>
                    <div id="details-pivot" class="ms-Pivot col-md-8">
                        <ul id="details-pivot-links" class="ms-Pivot-links"></ul>
                        <div id="details-pivot-content">
                        </div>
                    </div>
                    <div id="tags-panel" class="col-md-4">
                        <div id="transcript-search-box" class="ms-SearchBox">
                            <input class="ms-SearchBox-field" type="text" value="" id="transcript-search-input" placeholder="Search...">
                            <label class="ms-SearchBox-label">
                                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>
                            </label>
                            <div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
                                <button class="ms-CommandButton-button">
                                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Clear"></i></span>
                                    <span class="ms-CommandButton-label"></span>
                                </button>
                            </div>
                        </div>
                        <div id="details-viewer" style="display:none"></div>
                        <div id="tag-viewer"></div>
                        <hr />
                        <div id="reference-viewer"></div>
                    </div>
                    <input id="result-id" type="hidden" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--Search, Filters, and Facets-->
<div id="results-container" class="row content-results">
    <div class="col-md-2">
        <div style="@(Model.semanticEnabled ? "display:block" : "display:none")">
            <div class="input-group">
                <h5 style="display: inline-block; padding-right: 5px;">Semantic Search</h5>
                <label class="switch"> <input name="queryType" id="semantic-toogle" type="checkbox"><span class="slider round"></span> </label>
            </div>
            <hr style="height:1px;background-color:#EDEBE9;margin-top:10px;margin-bottom:16px;" />
        </div>
        <div>
            <h4 style="margin-bottom: 16px;">Filter</h4>
            <div id="filterReset"></div>
            <div class="widget-content">
                <div id="facet-nav" class="facet-nav"></div>
            </div>
        </div>
    </div>

    <div class="col-md-10 results-container">

        <div class="card-body" style="text-align: right">
            <br />
            <h5 style="display: inline-block" style="padding-right:15px;">Start Date</h5>
            <input type="date" class="form-control advancedAutoComplete" name="startdate" id="startdate" placeholder="Start Date" autocomplete="off" style="width:17%">
            <h5 style="display: inline-block" style="padding-right:15px;">End Date</h5>
            <input type="date" class="form-control advancedAutoComplete" name="enddate" id="enddate" placeholder="End Date" autocomplete="off" style="width:17%">
            <a asp-action="UploadData" asp-controller="Admin" class="fluent-button upload-button"> Upload file</a>
            <button style="font-weight: 600; border: 1px solid lightgrey; background: white; color: black; margin-right: 10px" class="fluent-button" onclick="EntityMapClick()">View entity Map</button>
            <a style="text-decoration:none; color:#337ab7;" asp-action="Customize" asp-controller="Admin"> Customize</a>
        </div>

        <div style="margin:0 10px 10px 10px;">
        <div id="results-title"><h4>Performance Overview</h4><div id="disclaimer">AI-generated content may be incorrect</div></div>
        </div>
        <div class="card-container" style="display:flex; flex-direction: row; justify-content:space-between;">
            <fluent-card class="fluent-card-custom">

                <div class="stats-rect pink-gradient">
                    <h4>
                        Average customer satisfaction
                        <span class="card-container">
                            <div class="stat-box">
                                <h5>Satisfied Customers</h5>
                                <span>@Model.Insight1.KeyInsight1</span>
                            </div>
                            <div class="stat-box">
                                <h5>Unsatisfied Customers</h5>
                                <span>@Model.Insight1.KeyInsight2</span>
                            </div>
                        </span>
                    </h4>
                </div>

                <div class="stats-rect data">
                    <fluent-data-grid id="complaintgrid">
                        <fluent-data-grid-column column-name="Top 5 customer satisfaction trends"></fluent-data-grid-column>
                        <fluent-data-grid-column column-name="More info"></fluent-data-grid-column>
                    </fluent-data-grid>
                    <script>
                        document.getElementById("complaintgrid").rowsData = [
                        @foreach (var item in Model.Insight1.TopInsights)
                        {
                            @:{ "Top 5 negative customer complaint trends": "@Html.Raw(WebUtility.HtmlDecode(item))" },
                        }
                        ];
                    </script>
                </div>

            </fluent-card>

            <fluent-card class="fluent-card-custom">
                <div class="stats-rect blue-gradient">
                    <h4>
                        Top discussed cities
                        <span class="card-container">
                            <div class="stat-box">
                                <h5>Origin city</h5>
                                <span>@Model.Insight2.KeyInsight1</span>
                            </div>
                            <div class="stat-box">
                                <h5>Destination city</h5>
                                <span>@Model.Insight2.KeyInsight2</span>
                            </div>
                        </span>
                    </h4>
                </div>

                <div class="stats-rect data">
                    <fluent-data-grid id="repgrid">
                        <fluent-data-grid-column column-name="Top 5 mentioned hotels"></fluent-data-grid-column>
                        <fluent-data-grid-column column-name="More info"></fluent-data-grid-column>
                    </fluent-data-grid>
                    <script>
                        document.getElementById("repgrid").rowsData = [
                        @foreach (var item in Model.Insight2.TopInsights)
                        {
                            @:{ "Top 5 mentioned hotels": "@Html.Raw(WebUtility.HtmlDecode(item))" },
                        }                            
                        ];
                    </script>
                </div>
            </fluent-card>
        </div>

        <div class="card-container">


        </div>

        <div style="margin:0 10px 10px 10px;">
            <h2 id="query-div" style="margin-top:-10px; font-size:14px;" class="alert info"></h2>
            <h2 id="answer-div" style="margin-top:-10px; font-size:14px;" class="alert info"></h2>
            <h2 id="doc-count" style="margin-top:-10px; font-size:14px; display:inline"></h2>
            <div id="maps-viewer"></div>
            <div style="display:inline;position: relative;top:-10px;left:10px;">
                <span id="loading-indicator" class="ms-Spinner ms-Spinner--large" style="display:none;"></span>
            </div>
        </div>
        <div id="doc-details-div">
        </div>
        <div class="clearfix">
            <ul id="paginationFooter" class="pagination justify-content-end"></ul>
        </div>
    </div>
</div>


<div id="entity-map" style="display:none">
    <div id="results-container" class="row content-results">
        <div class="col-md-2">
            <div id="search-input-group" class="input-group">
                <input type="text" class="form-control" name="e" id="e" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" onclick="SearchEntities();"><span class="ms-Icon ms-Icon--Search"></span></button>
                </span>

                <div style="display:inline;position: relative;top:-10px;left:10px;">
                    <span id="entity-loading-indicator" class="ms-Spinner ms-Spinner--large" style="display:none;"></span>
                </div>
            </div>

            <br />
            <button style="width:100%; border-color:#ccc" class="btn btn-default" onclick="EntityMapClick()">Return to Search Results</button>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <label for="slider-currentMaxNodes">Max Levels</label>
            <label id="lbl-currentMaxLevels" style="float:right">0</label>
            <input type="range" class="custom-range" min="1" max="5" id="slider-currentMaxLevels" oninput="changeMaxLevels(this.value, false)" onchange="changeMaxLevels(this.value, true)">
        </div>
        <div class="col-md-2">
            <label for="slider-currentMaxNodes">Max Nodes</label>
            <label id="lbl-currentMaxNodes" style="float:right">0</label>
            <input type="range" class="custom-range" min="3" max="30" id="slider-currentMaxNodes" oninput="changeMaxNodes(this.value, false)" onchange="changeMaxNodes(this.value, true)">
        </div>
        <div class="col-md-1">
            <button class="btn btn-default dropdown-toggle" type="button"
                    id="dropdownMenu1" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true"
                    float="right">
                <strong>Select Facets</strong>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu checkbox-menu allow-focus dropdown-graphfields">
                @foreach (var f in Model.facetableFields)
                {
                    <li>
                        <label>
                            <input value="@f" type="checkbox"> @f
                        </label>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-10">
            <svg height="600px"></svg>
        </div>
    </div>
</div>

