@using CognitiveSearch.UI.Configuration
@inject AppConfig AppConfig

@{
    // Check if the current view is Search
    String action = ViewContext.RouteData.Values["action"].ToString();
    bool isSearchView = action == "Index";
}

<!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /-->
<nav class="navbar navbar-expand-lg navbar navbar-bg">
    <div class="container-fluid">
        <div class="content">
            <div class="navbar-header">
                <a class="navbar-brand-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" height="48" id="navbar-img" alt="@AppConfig.Organization.Name logo" title="@AppConfig.Organization.Name logo" class="logo-container logo-sgv" asp-append-version="true" />
                </a>
            </div>
            @if (AppConfig.Customizable)
            {
                <div class="collapse navbar-collapse" id="navbarNav">
                    @if (isSearchView)
                    {
                    // Render the search input
                        <input type="text" class="form-control navbar-search advancedAutoComplete" name="q" id="q" placeholder="What do you want to search (e.g. satisfaction, intent, quality)" autocomplete="off">
                    }
                </div>
            }
        </div>

    </div>
</nav>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    @if (!string.IsNullOrWhiteSpace(ViewBag.Style))
    {
        <div class="alert @ViewBag.Style  mb-2 mt-5 mr-5 ml-5">@ViewBag.Message</div>
    }
    else
    {
        <div class="alert alert-info  mb-2 mt-5 mr-5 ml-5">@ViewBag.Message</div>
    }
}
